:root {
  --bng-color: #f7f8fc;
  --paper-color: #fff;
  --primary: #4b6fde;
  --primary-dark: #373e68;
  --secondary: #b17ef1;
  --text-color: #969a9d;
}

// SCSS Variables
$spacer-xs: 0.5em;
$spacer-s: 1em;
$spacer-m: 2em;
$spacer-l: 4em;
$spacer-xl: 6em;
