@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");

@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bng-color);
  font-family: "Poppins", sans-serif;
}

p {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-dark);
}

a,
a:visited,
a:focus {
  color: var(--primary);
}

li {
  list-style: none;
}
