@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bng-color);
}

p {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-dark);
}

a,
a:visited,
a:focus {
  color: var(--primary);
}
