@import "../../styles/variables";

.layout__main {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-gap: $spacer-s;
  max-width: 1440px;

  .content__main {
    padding: $spacer-l $spacer-xs $spacer-xs;
  }
}
